@using UmbracoCommunity.Web.Models.ViewModels.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridRow>

<div class="dc-image-and-text-block vertical-text-position-center @(Model.HasBg ? "has-bg" : string.Empty)" id="@Model.IdHash">
    @if (Model.HasBg)
    {
        <style asp-add-nonce="true">
            #@Model.IdHash {
                background-color: @Model.BackgroundColour;
            }
        </style>
    }
    @foreach (var block in Model.Blocks)
    {
        var typedBlock = block.Content as ImageBlock;
        if (typedBlock?.Image != null)
        {
            <div class="dc-image-and-text-block__image-container">
                <img srcset="@typedBlock.Image.GetCropUrl("mobile") 386w, @typedBlock.Image.GetCropUrl("desktop") 906w"
                     sizes="(max-width: 400px) 386px, 906px"
                     src="@typedBlock.Image.GetCropUrl("desktop")" alt="@typedBlock.AltText"
                     loading="lazy" />
            </div>
        }
    }
</div>