@using UmbracoCommunity.Web.Models.ViewModels.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridRow>

@{
    bool bgIsDark = Model.HasBg && Model.BackgroundColour.IsDark();
}

<div class="dc-image-and-text-block vertical-text-position-center @(Model.HasBg ? "has-bg" : string.Empty) @(bgIsDark ? "bg-dark" : string.Empty)" id="@Model.IdHash">
    @if (Model.HasBg)
    {
        <style asp-add-nonce="true">
            #@Model.IdHash {
                --block-background-color: @Model.BackgroundColour;
            }
        </style>
    }
    @foreach (var block in Model.Blocks)
    {
        var typedBlock = block.Content as TextBlock;
        <div class="dc-image-and-text-block__content-container">
            <div class="dc-image-and-text-block__content">
                @Html.Raw(typedBlock?.Text?.ToHtmlString())
            </div>
        </div>
    }
</div>