@using UmbracoCommunity.Web.Features.ReleaseOverview.Models
@model ReleaseCardViewModel
@{
    var majorVersion = Model.Release.Version.Split('.')[0];
}

<div class="release-card @Model.CardType">
    @if (Model.ShowBadge)
    {
        <div class="release-card-badge">@(Model.CardType == "lts" ? "Recommended for most users" : "Latest features")</div>
    }
    <h3 class="release-card-title">
        <a href="/release/umbraco/Umbraco-CMS/@Model.Release.DisplayVersion">Umbraco @majorVersion</a>
        @if (Model.CardType == "lts")
        {
            <span class="lts-badge">LTS</span>
        }
    </h3>
    <p class="release-version">Latest: @Model.Release.DisplayVersion</p>
    <p class="release-date">Released: @Model.Release.FormattedReleaseDate</p>
</div>
