@using UmbracoCommunity.Web.Features.ReleaseOverview.Models
@model ReleaseDiscussionViewModel

<div class="upcoming-release-item">
    <h3>
        <a href="/release/umbraco/Umbraco-CMS/@Model.DisplayVersion">@Model.Version</a>
        @if (Model.HasPreRelease && !string.IsNullOrEmpty(Model.PreReleaseVersion))
        {
            <span class="pre-release-badge">
                <a href="/release/umbraco/Umbraco-CMS/@Model.PreReleaseVersion" title="Pre-release version available">
                    @Model.PreReleaseVersion available
                </a>
            </span>
        }
    </h3>
    @if (Model.IsReleaseDateTba || !Model.ReleaseDate.HasValue)
    {
        <p class="release-date">Release date: to be determined</p>
    }
    else
    {
        <p class="release-date">Release date: @Model.FormattedReleaseDate</p>
    }
    <div class="release-stats">
        <span>Features: @Model.FeatureCount</span>
        <span>Issues: @Model.IssueCount</span>
        <span>Breaking changes: @Model.BreakingChangesCount</span>
    </div>
</div>
