@using UmbracoCommunity.Web.Utilities
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<AccordionBlock, SettingsAccordionBlock>>

@if (Model.Content?.AccordionItems != null && Model.Content.AccordionItems.Any())
{
    <dl class="dc-faqs" id="@(Model.Settings?.BlockId != null ? Model.Settings?.BlockId : string.Empty)">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <h2 class="block-title">@Model.Content.Title</h2>
        }
        @if (!Model.Content.Subtitle.IsEmptyHtmlString())
        {
            <div class="block-subtitle">
                @Html.Raw(Model.Content.Subtitle?.ToHtmlString())
            </div>
        }
        @foreach (var item in Model.Content.AccordionItems)
        {
            var typedAccordionItem = item.Content as AccordionItemBlock;
            if (typedAccordionItem == null) continue;
            var checkboxIdentifier = StringUtilities.RandomString(5);
            var panelId = $"panel-{checkboxIdentifier}";
            <div class="dc-faq-block">
                <dt>
                    <input type="checkbox" id="cb-@checkboxIdentifier" class="dc-faqs__checkbox"
                           aria-expanded="false" aria-controls="@panelId">
                    <label for="cb-@checkboxIdentifier">
                        <h3>@typedAccordionItem.Title</h3>
                        <partial name="~/Views/Partials/Components/PlusSvg.cshtml" />
                    </label>
                </dt>
                <div class="expand" id="@panelId" role="region" aria-labelledby="cb-@checkboxIdentifier">
                    <dd>@Html.Raw(typedAccordionItem.Content)</dd>
                </div>
            </div>
        }
    </dl>
}