@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Banner>>

@{
    bool hasBg = Model.Content.BackgroundImage != null;
}

<div class="dc-page-banner-block @(hasBg ? "has-bg" : string.Empty)">
    @if (hasBg)
    {
        <style asp-add-nonce="true">
            #@Model.Content.IdHash {
                --page-banner-background-image: url("@Model.Content.BackgroundImage?.GetCropUrl(width: 1426, height: 270)");
            }
         </style>
    }
    <div id="@Model.Content.IdHash" class="dc-page-banner-block__container">
        @if (hasBg)
        {
            <div class="dc-page-banner-block__overlay">
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <h1>@Model.Content.Title</h1>
        }
        @if (Model.Content.Subtitle != null)
        {
            <div class="banner-content">
                @Html.Raw(Model.Content.Subtitle?.ToHtmlString())
            </div>
        }
    </div>
</div>