@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<CardWithImageAndTextBlock>>

@{
    var gridCols = Model.GridColumns ?? 12;
}

@if (Model.Content.CardContent != null && Model.Content.CardContent.Any())
{
    if (Model.Content.Link != null)
    {
        <a id="@Model.Content.IdHash" class="dc-boxes-row__item" href="@Model.Content.Link.Url" target="@Model.Content.Link.Target" title="@Model.Content.Link.Name">
            @{
                RenderCard(Model.Content.CardContent);
                await RenderStyle(Model.ColumnSpan, gridCols, Model.Content.IdHash);
            }
        </a>
    }
    else
    {
        <div id="@Model.Content.IdHash" class="dc-boxes-row__item">
            @{
                RenderCard(Model.Content.CardContent);
                await RenderStyle(Model.ColumnSpan, gridCols, Model.Content.IdHash);
            }
        </div>
    }
}

@functions {
    void RenderCard(BlockListModel elements)
    {
        @foreach (var contentItem in elements)
        {
            switch (contentItem.Content.ContentType.Alias)
            {
                case ImageBlock.ModelTypeAlias:
                    var imageItem = contentItem.Content as ImageBlock;
                    if (imageItem?.Image == null) break;
                    var imageSettings = contentItem.Settings as SettingsImageBlock;
                    var imgIsCircle = imageSettings?.ImageIsCircular ?? false;
                    <div class="row-item-image">
                        @if (imgIsCircle)
                        {
                            <img src="@imageItem.Image.GetCropUrl()" alt="@imageItem.AltText"
                                 class="is-circle"
                                 loading="lazy" />

                        }
                        else
                        {
                            <img srcset="@imageItem.Image.GetCropUrl("mobile") 386w, @imageItem.Image.GetCropUrl("desktop") 906w"
                                 sizes="(max-width: 400px) 386px, 906px"
                                 src="@imageItem.Image.GetCropUrl("desktop")" alt="@imageItem.AltText"
                                 loading="lazy" />
                        }
                    </div>

                    break;
                case ImageBlockWithOverlay.ModelTypeAlias:
                    var imageOverlayItem = contentItem.Content as ImageBlockWithOverlay;
                    if (imageOverlayItem?.Image == null) break;
                    <div class="dc-image-wrapper">
                        <img srcset="@imageOverlayItem.Image.GetCropUrl("mobile") 386w, @imageOverlayItem.Image.GetCropUrl("desktop") 906w"
                             sizes="(max-width: 400px) 386px, 906px"
                             src="@imageOverlayItem.Image.GetCropUrl("desktop")" alt="@imageOverlayItem.AltText" class="dc-image" loading="lazy" />

                        @if (!imageOverlayItem.OverlayText.IsEmptyHtmlString())
                        {
                            <div class="overlay"></div>
                            <div class="text">@Html.Raw(imageOverlayItem.OverlayText)</div>
                        }
                    </div>
                    break;
                case TextBlock.ModelTypeAlias:
                    var textItem = contentItem.Content as TextBlock;
                    if (textItem?.Text == null || textItem.Text.IsEmptyHtmlString()) break;
                    <div class="dc-boxes-row__item-content">
                        @Html.Raw(textItem?.Text)
                    </div>
                    break;
            }
        }
    }

    async Task RenderStyle(int columnSpan, int totalColumns, string idHash)
    {
        <style asp-add-nonce="true">
            .dc-boxes-row__items #@(idHash) {
                grid-column-end: span @totalColumns;
            }

            @@media (min-width: 1024px) {
                .dc-boxes-row__items #@(idHash) {
                    grid-column-end: span @columnSpan;
                }
            }
        </style>
    }
}