@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<FormBlock, SettingsFormBlock>>

@if (!Model.Content.Form.HasValue)
{
    return;
}

<div class="dc-form-block" id="@(Model.Settings?.BlockId != null ? Model.Settings?.BlockId : string.Empty)">
    @if (!string.IsNullOrEmpty(Model.Content.Title))
    {
        <h2 class="block-title">@Model.Content.Title</h2>
    }
    @if (!Model.Content.Subtitle.IsEmptyHtmlString())
    {
        <div class="block-subtitle">
            @Html.Raw(Model.Content.Subtitle?.ToHtmlString())
        </div>
    }

    <div class="dc-text-block">
        @{
            ViewData.TemplateInfo.HtmlFieldPrefix = "";
            var isStepped = Model.Settings?.EnableSteppedForm == true;
        }
        @if (isStepped)
        {
            <dc-form-steps>
                <umb-forms-render form-id="@Model.Content.Form.Value" />
            </dc-form-steps>
        }
        else
        {
            <umb-forms-render form-id="@Model.Content.Form.Value" />
        }
    </div>

</div>