@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<FormBlock, SettingsFormBlock>>

@if (!Model.Content.Form.HasValue)
{
    return;
}

<div class="dc-form-block">
    
    <div class="dc-form-block">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <h2 class="block-title">@Model.Content.Title</h2>
        }
        @if (Model.Content.Subtitle != null)
        {
            <div class="block-subtitle">
                @Html.Raw(Model.Content.Subtitle?.ToHtmlString())
            </div>
        }

        <div class="dc-text-block">
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = "";
            }
            <umb-forms-render form-id="@Model.Content.Form.Value" />
        </div>

    </div>

</div>

@* @using UmbracoCommunity.Web.Models.ViewModels.Blocks
@model FormBlockViewModel

@if (Model.FormId != Guid.Empty)
{
    <div class="dc-form-block">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h2 class="block-title">@Model.Title</h2>
        }
        @if (Model.Subtitle != null)
        {
            <div class="block-subtitle">
                @Html.Raw(Model.Subtitle?.ToHtmlString())
            </div>
        }

        <div class="dc-text-block">
            <umb-forms-render form-id="@Model.FormId" />
        </div>

    </div>
} *@