@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<HeadlinesBanner>>

@{
    bool hasBg = Model.Content.BackgroundImage != null;
}

<header class="hero @(hasBg ? "has-background" : "")">
    @if (hasBg)
    {
        <div class="hero-overlay"></div>
        <img src="@Model.Content.BackgroundImage.GetCropUrl(width: 800, height: 200)" class="hero-image" alt="@Model.Content.BackgroundImage.Name" />
    }

    <div class="hero-content">
        <div class="hero-header">
            @if (!Model.Content.SuperHeadline.IsNullOrWhiteSpace())
            {
                <small>@Model.Content.SuperHeadline</small>
            }

            <h1>@Model.Content.Headline</h1>

            @if (!Model.Content.Subheadline.IsNullOrWhiteSpace())
            {
                <h2>@Model.Content.Subheadline</h2>
            }

            @if (!Model.Content.Footnote.IsNullOrWhiteSpace())
            {
                <p class="hero-footnote">@Model.Content.Footnote</p>
            }
        </div>
    </div>
</header>