@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ImageBlock, SettingsImageBlock>>
@{
    var cols = Model.GridColumns ?? 12;
    var imgWidth = 1360d * (Model.ColumnSpan / (double)cols);
}

@if (Model.Content.Image is not null)
{
    bool hasBg = !string.IsNullOrEmpty(Model.Settings?.BackgroundColour);

    <div class="dc-image-block @(hasBg ? "" : "has-bg") @(Context.Request.IsBlockPreviewRequest() ? "backoffice-img-block" : "")" id="@Model.Content.IdHash">
        @if (hasBg)
        {
            <style asp-add-nonce="true">
                #@Model.Content.IdHash {
                    --block-background-color: @Model.Settings.BackgroundColour;
                }
            </style>
        }
        <div class="dc-image-wrapper">
            <img src="@Model.Content.Image.GetCropUrl(width: (int)Math.Round(imgWidth))" alt="@Model.Content.AltText" class="dc-image" loading="lazy" />

            @if (Model.Content.ApplyOverlay)
            {
                <div class="overlay"></div>
                <div class="text">@Html.Raw(Model.Content.OverlayText)</div>
            }
        </div>
    </div>
}