@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<SpeakersBlock, SettingsSpeakersBlock>>

@if (Model.Content.Speakers != null && Model.Content.Speakers.Any())
{
    <div class="dc-speakers align-center" id="@(Model.Settings?.BlockId != null ? Model.Settings?.BlockId : string.Empty)">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <h2 class="block-title">@Model.Content.Title</h2>
        }
        @if (!Model.Content.Subtitle.IsEmptyHtmlString())
        {
            <div class="block-subtitle">
                @Html.Raw(Model.Content.Subtitle?.ToHtmlString())
            </div>
        }

        @{
            var columns = Model.Settings?.Value<int>("columnsPerRow") ?? 0;
            if (columns <= 0)
            {
                columns = Math.Min(Model.Content.Speakers.Count(), 5);
            }
            var dataColumns = columns is > 0 and not 4 ? $" data-columns=\"{columns}\"" : string.Empty;
        }
        <div class="dc-speakers-grid"@Html.Raw(dataColumns)>
            @foreach (var item in Model.Content.Speakers)
            {
                var speaker = item.Content as SpeakerItemBlock;
                if (speaker == null) continue;
                <div class="dc-speakers-grid__item">
                    <img class="dc-image is-circle" src="@speaker.SpeakerImage?.GetCropUrl(width: 150, height: 150)" alt="@speaker.SpeakerName" loading="lazy" />
                    <p class="speaker-name">@speaker.SpeakerName</p>
                    @if (!string.IsNullOrEmpty(speaker.SpeakerDescription))
                    {
                        <p class="speaker-bio">@speaker.SpeakerDescription</p>
                    }
                </div>
            }
        </div>
    </div>
}