@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<TextBlock, SettingsTextBlock>>

@if (Model.Content.Text != null)
{
    bool hasBg = Model.Settings.HasBg();
    bool bgIsDark = hasBg && Model.Settings.IsDark();

    <div class="dc-text-block justify-center @(hasBg ? "has-bg" : "transparent") @(bgIsDark ? "bg-dark" : string.Empty)" id="@Model.Content.IdHash">
        @if (hasBg)
        {
            <style asp-add-nonce="true">
                #@Model.Content.IdHash {
                    --block-background-color: @Model.Settings?.BackgroundColour;
                }
            </style>
        }

        <div class="dc-text-block__content">
            @Html.Raw(Model.Content.Text.ToHtmlString())
        </div>
    </div>
}