@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<TextBlock, SettingsTextBlock>>

@if (Model.Content.Text != null)
{
    bool hasBg = Model.Settings.HasBg();
    bool bgIsDark = hasBg && Model.Settings.IsDark() || Model.Settings?.BackgroundImage != null;
    bool hasImage = Model.Settings?.BackgroundImage != null;

    <div class="dc-text-block justify-center @(hasBg ? "has-bg" : "transparent") @(hasImage ? "has-image" : string.Empty) @(bgIsDark ? "bg-dark" : string.Empty)" id="@Model.Content.IdHash">
        @if (hasBg)
        {
            <style asp-add-nonce="true">
                #@Model.Content.IdHash {
                    --block-background-color: @Model.Settings?.BackgroundColour?.Color;
                }
            </style>
        }

        @if (hasImage)
        {
            <picture>
                <source media="(min-width:855px)" srcset="@Model.Settings?.BackgroundImage?.GetCropUrl("desktop2x")">
                <source media="(min-width:768px)" srcset="@Model.Settings?.BackgroundImage?.GetCropUrl("desktop")">
                <source media="(min-width:389px)" srcset="@Model.Settings?.BackgroundImage?.GetCropUrl("mobile2x")">
                <img src="@Model.Settings?.BackgroundImage?.GetCropUrl("mobile")"
                     alt="@Model.Settings?.BackgroundImage?.Name"
                     sizes="100vw"
                     loading="lazy">
            </picture>
        }

        <div class="dc-text-block__content">
            @Html.Raw(Model.Content.Text.ToHtmlString())
        </div>
    </div>
}