@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<VideoBlock, SettingsVideoBlock>>
@inject ILogger<UmbracoViewPage> _logger

@if (Model.Content?.Video != null && !string.IsNullOrWhiteSpace(Model.Content.Video.Url))
{
    @if (Context.Request.IsBlockPreviewRequest())
    {
        <div class="video-block-preview">
            @if (Model.Settings?.Thumbnail != null)
            {
                <img src="@Model.Settings.Thumbnail.GetCropUrl("mobile2x")" />
            }
            <p>Video source: @Model.Content.Video.Url</p>
        </div>
    }
    else 
    {
        var linkIsExternal = Model.Content.Video.Type == LinkType.External;
        var thumbnailUrl = Model.Settings?.Thumbnail?.GetCropUrl("desktop");
        var autoplay = Model.Settings?.Autoplay ?? false;
        var format = Model.Settings?.Format != null && Model.Settings.Format.Contains("4:3") ? 43 : 169;
        var allows = @Model.Settings.GetAllow();

        if (linkIsExternal)
        {
            if (Model.Content.Video.Url.Contains("youtu", StringComparison.InvariantCultureIgnoreCase)) {
                var videoSrc = Model.Content.Video.Url.GetYouTubeLink(Model.Settings);
                if (!string.IsNullOrWhiteSpace(videoSrc))
                {
                    <dc-video-picker-youtube source="@videoSrc"
                        allow="@allows"
                        name="@Model.Settings?.VideoTitle"
                        thumbnail="@thumbnailUrl"
                        format="@format"
                        id="@(Model.Settings?.BlockId != null ? Model.Settings?.BlockId : string.Empty)">
                            <iframe id="player" slot="video" src="@videoSrc" allow="@allows" width="100%" height="100%" frameborder="0"></iframe>
                    </dc-video-picker-youtube>
                }
            }
            else
            {
                _logger.LogWarning("VideoBlock: External video URL not supported. URL: {VideoUrl}", Model.Content.Video.Url);
            }
        } else
        {
            <dc-video-picker-media source="@Model.Content.Video.Url"
                                   name="@Model.Settings?.VideoTitle"
                                   thumbnail="@thumbnailUrl"
                                   format="@format"
                                   auto-play="@autoplay"
                                   id="@(Model.Settings?.BlockId != null ? Model.Settings?.BlockId : string.Empty)">
                <video id="player"
                       slot="video"
                       controls
                       muted="@(Model.Settings?.Muted ?? false)"
                       autoplay="@autoplay"
                       poster="@thumbnailUrl"
                       preload="@(autoplay ? "auto" : "none")"
                       width="100%"
                       height="100%">
                    <source src="@Model.Content.Video.Url" />
                    <p>
                        Your browser does not support HTML5 videos.
                        <a href="@Model.Content.Video.Url">Here is a link to the video</a> instead.
                    </p>
                </video>
            </dc-video-picker-media>
        }
    }
}