@using UmbracoCommunity.Web.Models.ViewModels.Components
@model BlogPostCardViewModel

<div class="card @(ViewData["Featured"] is true ? "card-featured" : "")">
    <a href="@Model.Url" class="card-link">
        @if (string.IsNullOrEmpty(Model.ImageUrl) is false)
        {
            <figure>
                <img src="@Model.ImageUrl" class="card-image" />
            </figure>
        }
        <div class="card-content">
            <h3>@Model.Title</h3>
            @if (!Model.Teaser.IsNullOrWhiteSpace())
            {
                <div>@Html.Raw(Model.Teaser)</div>
            }
            <div class="card-meta">
                <div>@Model.PublishDate</div>
                @if (ViewData["Featured"] is true)
                {
                    <div class="card-extra">
                        <span class="font-bold">Top story</span>
                    </div>
                }
            </div>
        </div>
    </a>
</div>
