@using Joonasw.AspNetCore.SecurityHeaders.Csp
@using UmbracoCommunity.Web.Models.ViewModels.Components

@model MetaTagsViewModel

@inject ICspNonceService nonceService;
@inject IWebHostEnvironment webHostEnvironment;

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">

<meta property="og:title" content="@Model.MetaTitle">
<meta name="twitter:title" content="@Model.MetaTitle">

<meta name="description" content="@Model.MetaDescription" />
<meta property="og:description" content="@Model.MetaDescription">
<meta name="twitter:description" content="@Model.MetaDescription">

<meta property="og:type" content="website">
<meta property="og:site_name" content="@Model.SiteName">
<meta property="og:locale" content="@System.Globalization.CultureInfo.CurrentCulture.Name.Replace("-", "_")">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@("@umbraco")">

@if (Model.HasOpenGraphImageUrl)
{
    <meta property="og:image" content="@Model.OpenGraphImageUrl">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta name="twitter:image" content="@Model.OpenGraphImageUrl">
}

@if (!string.IsNullOrEmpty(Model.CanonicalUrl))
{
    <link rel="canonical" href="@Model.CanonicalUrl" />
    <meta property="og:url" content="@Model.CanonicalUrl">
}

@if (!string.IsNullOrEmpty(Model.PrevUrl))
{
    <link rel="prev" href="@Model.PrevUrl" />
}

@if (!string.IsNullOrEmpty(Model.NextUrl))
{
    <link rel="next" href="@Model.NextUrl" />
}

<title>@Model.MetaTitle | @Model.SiteName</title>

@if (string.IsNullOrEmpty(Model.Robots) && webHostEnvironment.IsDevelopment())
{
    <meta name="robots" content="noindex, nofollow" />
}
else if (string.IsNullOrEmpty(Model.Robots))
{
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
}
else if (Model.Robots == "noindex, follow")
{
    <meta name="robots" content="noindex, follow" />
}
else if (Model.Robots == "index, nofollow")
{
    <meta name="robots" content="index, nofollow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
}
else if (Model.Robots == "noindex, nofollow")
{
    <meta name="robots" content="noindex, nofollow" />
}

@if (Model.SchemaMarkups.Any())
{
    foreach (var schemaMarkup in Model.SchemaMarkups)
    {
        <script type="application/ld+json" asp-add-nonce="true">@Html.Raw(schemaMarkup)</script>
    }
}
