@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoCommunity.Web.Models.Pages
@inherits UmbracoViewPage<PageViewModelBase>

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name">
<head>
    <script vite-src="index" vite-client="true" asp-add-nonce="true"></script>
    <script vite-src="@Model.ContentTypeAlias" ></script>
    @RenderSection("Links", required: false)
    @RenderSection("CSS", required: false)
    <title>Umbraco Community | @Model.Name</title>
</head>

<body class="@GetBodyClasses()">
    @* <partial name="~/Views/Partials/Components/Header.cshtml" /> *@
    <partial name="~/Views/Partials/Components/Menu.cshtml" for="Menu" />
    <partial name="~/Views/Partials/Components/Hero.cshtml" />

    <main>
        @RenderBody()
    </main>

    <partial name="~/Views/Partials/Components/Footer.cshtml" />
    <script vite-src="index" vite-client="true" asp-add-nonce="true"></script>
    <script vite-src="@Model.ContentTypeAlias" asp-add-nonce="true"></script>

    @RenderSection("JS", required: false)
    @Html.PageScripts()
</body>

</html>

@{
    string GetBodyClasses()
    {
        var bodyClasses = new List<string> { $"document-{Model.ContentTypeAlias}" };
        return string.Join("top-banner ", bodyClasses);
    }
}
