@{
	Layout = null;
}
@using Umbraco.Forms.Web
@using UmbracoCommunity.Web.Services

@inject ContentContextService currentPage;

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name">
<head>
    @await Component.InvokeAsync("MetaTags")
    @await Component.InvokeAsync("Favicon")
    <link rel="stylesheet" vite-href="index" asp-add-nonce="true" />
    <link rel="stylesheet" vite-href="@currentPage.ContentTypeAlias" />
    @RenderSection("Links", required: false)
    @RenderSection("CSS", required: false)
    @Html.RenderUmbracoFormDependencies(Url)
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
</head>

<body class="document-@currentPage.ContentTypeAlias">
    <a href="#main-content" class="skip-link">Skip to main content</a>
    @await Component.InvokeAsync("Menu")

    <main id="main-content">
        @RenderBody()
    </main>

    @await Component.InvokeAsync("Footer")
    <script vite-src="index" vite-client="true" asp-add-nonce="true"></script>
    <script vite-src="@currentPage.ContentTypeAlias" asp-add-nonce="true"></script>

    @RenderSection("JS", required: false)
    @Html.PageScripts()
</body>

</html>
