@{
	Layout = null;
}
@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoCommunity.Web.Models.Pages
@using Umbraco.Forms.Web
@inherits UmbracoViewPage<PageViewModelBase>

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name">
<head>
    <partial name="~/Views/Partials/Components/MetaTags.cshtml" />
    <partial name="~/Views/Partials/Components/Robots.cshtml" for="Robots" />
    <link rel="stylesheet" vite-href="index" asp-add-nonce="true" />
    <link rel="stylesheet" vite-href="@Model.ContentTypeAlias" />
    @RenderSection("Links", required: false)
    @RenderSection("CSS", required: false)
    @Html.RenderUmbracoFormDependencies(Url)
</head>

<body class="@GetBodyClasses()">
    <partial name="~/Views/Partials/Components/Menu.cshtml" for="Menu" />

    <main>
        @RenderBody()
    </main>

    <partial name="~/Views/Partials/Components/Footer.cshtml" for="Footer"/>
    <script vite-src="index" vite-client="true" asp-add-nonce="true"></script>
    <script vite-src="@Model.ContentTypeAlias" asp-add-nonce="true"></script>

    @RenderSection("JS", required: false)
    @Html.PageScripts()
</body>

</html>

@{
    string GetBodyClasses()
    {
        var bodyClasses = new List<string> { $"document-{Model.ContentTypeAlias}" };
        return string.Join(" ", bodyClasses);
    }
}
