@{
	Layout = null;
}
@using UmbracoCommunity.Web.Models.Pages
@inherits UmbracoViewPage<PageViewModelBase>

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name">
<head>
    <script vite-src="index" vite-client="true" asp-add-nonce="true"></script>
    <script vite-src="@Model.ContentTypeAlias" asp-add-nonce="true"></script>
    @RenderSection("Links", required: false)
    @RenderSection("CSS", required: false)
    <title>Umbraco Releases | @Model.Name</title>
</head>

<body class="@GetBodyClasses()">
    <partial name="~/Views/Partials/Components/MenuReleases.cshtml" for="Menu" />

    <main>
        @RenderBody()
    </main>

    <partial name="~/Views/Partials/Components/FooterReleases.cshtml" />

    @RenderSection("JS", required: false)
    @Html.PageScripts()
</body>

</html>

@{
    string GetBodyClasses()
    {
        var bodyClasses = new List<string> { $"document-{Model.ContentTypeAlias}" };
        return string.Join(" ", bodyClasses);
    }
}
